@page "/houses/delete/{id:int}"
@inject HttpClient Http
@using Models;
@inject NavigationManager NavigationManager
@using System.Net.Http.Json

@*Author: Susanna Renström*@


<EditForm Model="House" OnSubmit="HandleSubmit" FormName="edit" class="card form">
    <h3>Radera hus</h3>
    <div>
       @*  <InputNumber id="houseid" @bind-Value="House.County.CountyName" />
        <InputNumber id="houseid" @bind-Value="House.Adress" /> *@
        <InputNumber id="houseid" @bind-Value="House.HouseId" />
    </div>
    <button type="submit">Save</button>
</EditForm> 

@code {
    [Parameter]
    public int Id { get; set; }
    House House { get; set; } = new House();
      
    protected override async Task OnParametersSetAsync()
    {
        var result = await Http.GetFromJsonAsync<House>($"api/house/{(int)Id}");
        if (result != null)
            House = result;
    }

    public async Task HandleSubmit()
    {
        await Http.DeleteAsync($"api/house/{Id}");
        NavigationManager.NavigateTo($"/houses");
    }

}
