@page "/access-denied" 

@*Author: Susanna Renström*@

<div style="display: flex; justify-content:center; margin-top:150px;">
<h2 style="margin: 10px;">Du har inte behörighet att se denna sida.</h2>
</div>



