@page "/register"
@inject HttpClient Http
@using System.Net.Http.Json
@using Client.Models
@inject NavigationManager NavigationManager

@*Author: Susanna Renström*@

@*RegisterUser*@

<h3>Skapa ny användare</h3>
@if (Response == null)
{
    <EditForm Model="RegisterModel" OnSubmit="Submit">
        <div>
            <label>Förnamn</label>
            <InputText @bind-Value="RegisterModel.FirstName"></InputText>
        </div>
        <div>
            <label>Efternamn</label>
            <InputText @bind-Value="RegisterModel.LastName"></InputText>
        </div>
        <div>
            <label>Epostadress</label>
            <InputText @bind-Value="RegisterModel.Email"></InputText>
        </div>
        <div>
            <label>Lösenord</label>
            <InputText @bind-Value="RegisterModel.Password"></InputText>
        </div>
        <div>
            <label>Telefonnummer</label>
            <InputText @bind-Value="RegisterModel.PhoneNumber"></InputText>
        </div>
        <div>
            <label>Avatar URL</label>
            <InputText @bind-Value="RegisterModel.Avatar"></InputText>
        </div>
        <div>
            <label>Mäklarfirma</label>
            <select @bind="AgencyId">
                <option value="">Ange mäklarfirma</option>
                @foreach (var agency in Agencies)
                {
                    <option value="@agency.AgencyId">@agency.NameOfAgency</option>
                }
            </select>
        </div>
        <button type="submit">Skapa användare</button>
    </EditForm>
}
<br />
<br />
<div>
<p>@Response?.Message</p>

@if (@Response?.Status == "Success")
{
    <p>När ditt konto har blivit godkänt kan du logga in</p>
    <br />
    <button @onclick="@(() => NavigateToLogin())">Logga in</button>
}
</div>
@code {

    public Response Response { get; set; }
    public RegisterModel RegisterModel { get; set; } = new RegisterModel();
    public int AgencyId { get; set; }
    public List<Agency> Agencies { get; set; } = new List<Agency>();

    protected override async Task OnInitializedAsync()
    {
        Agencies = await Http.GetFromJsonAsync<List<Agency>>("api/agency");
    }

    public async Task Submit()
    {
        RegisterModel.Agency = await Http.GetFromJsonAsync<Agency>($"api/agency/{AgencyId}");
        var result = await Http.PostAsJsonAsync<RegisterModel>("api/authenticate/register", RegisterModel);
        Response = await result.Content.ReadFromJsonAsync<Response>();
    }
    public void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }

}
