@page "/googlemapstest"
<h3>Component</h3>

<iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  referrerpolicy="no-referrer-when-downgrade"
  src="@srcUrl"
  allowfullscreen>
</iframe>


@code {

    public string srcUrl { get; set; }
    public string APIKey { get; set; }

    protected override async Task OnInitializedAsync()
    {
        APIKey = "AIzaSyC3fVV0d29woOeup6draiHd9H46ClJ3y7k";
        srcUrl = ($"https://www.google.com/maps/embed/v1/place?key=AIzaSyC3fVV0d29woOeup6draiHd9H46ClJ3y7k&q=Stockholm");
    }

}

