@page "/"
@using Client.Components


<section class="hero">
    <div class="hero-main">
        <div class="hero-main-left">
            <img src="/img/bostadsbubblan-logo.svg" />
        </div>
        <div class="hero-main-right">
            <h1>Hitta ditt drömboende!</h1>
            <p>Upptäck din nästa bostad med oss! På Bostadsbubblan gör vi det enkelt att hitta ditt perfekta hem, oavsett om du letar efter en mysig lägenhet i stan eller en rymlig villa på landet. Bläddra bland våra exklusiva listor, få tillgång till de senaste objekten före alla andra, och låt våra experter guida dig genom varje steg i bostadsköpet. Din dröm, vårt uppdrag.</p>
            <NavLink href="/browse" Match="NavLinkMatch.All"><button class="main-btn">Sök bostad</button></NavLink>
        </div>

    </div>
    <RecentlySold />
</section>


