@page "/test"
@using Models;
@using System.Net.Http.Json
@using System.Net.Http
@inject HttpClient Http
<h3>Test</h3>

<p>@Hej</p>

<p>@ExceptionMessage</p>

@code {
    public string Hej { get; set; }

    public List<House> ListOfHouses { get; set; }

    private string? ExceptionMessage;

    protected override async Task OnInitializedAsync()
    {
        Hej = "nu jävlar";
        try
        {
            ListOfHouses = await Http.GetFromJsonAsync<List<House>>("api/house");
        }
        catch (NotSupportedException exception)
        {
            ExceptionMessage = exception.Message;
        }

    }

}
