/* Author: Eden Yusof-Ioannidis */

h1:focus {
    outline: none;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: Montserrat;
    --primary-clr-50: #ecfdf5;
    --primary-clr-100: #d1fae5;
    --primary-clr-200: #a7f3d0;
    --primary-clr-300: #6ee7b7;
    --primary-clr-400: #34d399;
    --primary-clr-500: #10b981;
    --primary-clr-600: #059669;
    --primary-clr-700: #047857;
    --primary-clr-800: #065f46;
    --primary-clr-900: #064e3b;
    --primary-clr-950: #022c22;
}

html {
}

body {
    background-color: white;
}

main {

}

section {
    padding-inline: 1rem;
    padding-block: 1rem;
}

button {
    padding-inline: 1rem;
    padding-block: 0.4rem;
    background-color: white;
    border: 1px solid var(--primary-clr-600);
    border-radius: 8px;
    font-family: Montserrat;
    font-weight: 600;
    margin-right: 0.4rem;
    margin-block: 0.2rem;
}

button:hover{
    cursor: pointer;
    color: white;
    background-color: var(--primary-clr-600);
    border: 1px solid var(--primary-clr-200);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    background-color: var(--primary-clr-400);
    padding-inline: 1rem;
    -webkit-box-shadow: 10px 5px 27px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 5px 27px -15px rgba(0,0,0,0.75);
    box-shadow: 10px 5px 27px -15px rgba(0,0,0,0.75);
}

#logo-btn {
    background: none;
    color: white;
    font-weight: 600;
    transition: 0.2s;
    border: none;
}

#logo-btn:hover {
    border: none;
    font-weight: 800;
    color: var(--primary-clr-800);

}

.nav-left {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.nav-right {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.nav-bar > div > a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.nav-bar > div > a > img {
    height: 42px;
    border-radius: 50%;
    border: 1px solid black;
}

.nav-bar > div > a:hover {
        font-weight: 800;
        color: var(--primary-clr-800);
}

.grid-container {
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: max-content;
    gap: 2rem;
    grid-column-start: 1;
    grid-row-start: 2;
    padding: 2rem;
}

.card {
    background-color: var(--primary-clr-400);
    border-radius: 8px;
    padding-block: 20px;
    padding-inline: 18px;
    box-shadow: 4px 4px 12px -5px;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > span {
    color: white;
    font-size: 120px;
}

.card > span:hover{
    cursor: default;
}

.float-up:hover {
    transform: translateY(-4px);
}

.hero {
    margin-top: 0;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0,0, 0.1), rgba(0, 0, 40, 0.83)), url("/img/placeholderstartsida.jpg");
    background-size: cover;
    background-position:bottom;
    color: white;
}

.json {
    width: 60%;
    margin-top: 1rem;
    background-color: lightgoldenrodyellow;
    padding-block: 1rem;
    padding-inline: 1rem;
    border: 1px solid black;
}

.error-message {
    color: red;
    font-weight: 500;
    margin-block: 1rem;
}

.county > ul {
    margin-block: 1rem;
}

.county > ul > li {
    list-style: none;
}

.form {
    margin-top: 1rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: max-content;
    padding-block: 60px;
    padding-inline: 60px;
    color: white;
    font-weight: 600;
}

.form > div {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form > div > label {
    justify-self: start;
}

.form > div > select,
.form > div > input,
.form > div > textarea{
    border-radius: 8px;
    border: none;
    padding-block: 0.6rem;
    padding-inline: 0.6rem;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    font-size: 0.9rem;
    justify-self: end;
    min-width: 220px;
}

select::backdrop {
    border-radius: 8px;
    border: none;
    padding-block: 0.6rem;
    padding-inline: 0.6rem;
    font-family: "Montserrat", sans-serif;
    background-color: white;
}

select > option {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.houses-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: 3rem;
}

.houses-list > * {
        margin-inline: auto;
}

.house-card {
    border: 1px solid var(--primary-clr-800);
    display: flex;
    flex-direction: row;
    align-items: start;
    border-radius: 10px;
    height: 360px;
    width: 60%;
}

.house-card > .card-left {
    width: 100%;
    height: 100%;
}

.house-card > .card-left > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid var(--primary-clr-950);
}

.house-card > .card-right {
    padding-block: 1rem;
    padding-inline: 1rem;
    display: flex;
    height:90%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.house-info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.category-line {
    display: flex;
    align-items: center;
}

.button-row {
    display: flex;
    gap: 0.1rem;
    justify-content: center;
}

.agency-logo {
    max-height: 100px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.house-details {
    margin-inline: auto;
    margin-block: 2rem;
    background-color: white;
    width: 1200px;
    display: grid;
    grid-template-columns: 950px 200px;
}

.main-left > img {
    min-width: 900px;
    max-width: 900px;
    min-height: 600px;
    max-height: 600px;
    object-fit: cover;
}

.details {
    margin-block: 2rem;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details-left{
    max-width: 70%;
}

.details > div > h1,h2{
    color: var(--primary-clr-900);
}

.details > div > h2{
    margin-bottom: 0.4rem;
}

.description {
    margin-top: 2rem;
}

.description > p {
    margin-bottom: 12px;
}

.price {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-clr-900);
    margin-bottom: 1rem;
}

.main-right {
    align-self: start;
}

.main-right h2 {
    cursor: pointer;
}

.realtor-circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 1rem;
}

.realtor-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
}

.realtor-circle img:hover {
    cursor: pointer;
}

.gallery {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-inline: auto;
    gap: 0.5rem;
}

#card-description{
    margin-top: 1rem;
}

#navbar-btn {
    color: white;
    background-color: var(--primary-clr-400);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-inline: 0px;
}

#navbar-btn:hover {
    font-weight: 800;
    color: var(--primary-clr-800);
}

.filled {
    background-color: var(--primary-clr-500);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
}

.error-box {
    background-color: white;
    border: 1px solid var(--primary-clr-800);
    color: black;
    padding-block: 1rem;
    padding-inline: 1rem;
    max-width: 400px;
    border-radius: 8px;
}

.error-box > p {
    font-weight: 400;
    text-align: left;
}

.center {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto; /* Detta centrera blocket horisontellt */
}

.realtor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.realtor-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    width: 400px;
    height: 180px;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.20);
    display: flex;
    align-items: center;
}

    .realtor-card h2 {
        padding-bottom: 10px;
    }

    .realtor-card:hover {
        box-shadow: 0 0 10px 0px #022c22;
        cursor: pointer;
    }

.realtor-card-content {
    margin-left: 10px;
}

.realtor-cards-image {
    width: 130px;
    height: 180px;
    border-radius: 2%;
    object-fit: cover; /* Klipper bilden för att passa in i behållaren */
    object-position: center; /* Centrerar bilden i behållaren */
}

.image {
    margin: 0 auto;
    width: 260px;
    height: 360px;
    border-radius: 2%;
    object-fit: cover; /* Klipper bilden för att passa in i behållaren */
    object-position: center; /* Centrerar bilden i behållaren */
}

.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 370px;
    margin-bottom: 20px;
}

.logo {
    max-width: 300px;
    max-height: 70px;
    object-fit: scale-down;
    padding-bottom: 5px;
}

.contact-info {
    margin-left: 20px;
}

.houses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.realtor-house-card {
    border-radius: 2%;
    width: 400px;
    height: 267px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 10px;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.20);
    background-repeat: no-repeat;
}

.realtor-house-card:hover {
    box-shadow: 0 0 10px 0px #022c22;
    cursor: pointer;
}

