<div>
    <ul>
        <li><NavLink href="/browse" Match="NavLinkMatch.All">Sök bostäder</NavLink></li>
        <li><NavLink href="/realtors" Match="NavLinkMatch.All">Se mäklare</NavLink></li>
        <li><NavLink href="/realtors/create" Match="NavLinkMatch.All">Skapa ny mäklare</NavLink></li>
        <li><NavLink href="/houses" Match="NavLinkMatch.All">Se alla hus</NavLink></li>
    </ul>
</div>

@code {

}
