@page "/realtors"
@inject HttpClient Http
@using Models;
@using System.Net.Http.Json

@*Author: Eden Yusof-Ioannidis*@

<h3>Mäklare</h3>

@if (ListOfRealtors == null)
{
    <p>Ett ögonblick..</p>
}
else if (ListOfRealtors.Count == 0)
{
    <p>No realtors found.</p>

    <NavLink href="/realtors/create" Match="NavLinkMatch.All"><button>Skapa ny mäklare</button></NavLink>
}
else
{
        <table>
            <tr>
                <th>
                    Förnamn
                </th>
                <th>
                    Efternamn
                </th>
            </tr>
            @foreach (var realtor in ListOfRealtors)
            {
                  <tr>
                <td>
                    @realtor.FirstName
                </td>
                <td>
                    @realtor.LastName
                </td>
            </tr>
            }
    </table>
    <NavLink href="/realtors/create" Match="NavLinkMatch.All"><button>Skapa ny mäklare</button></NavLink>
}

@code {

    private List<Realtor> ListOfRealtors { get; set; }

    private Realtor TestRealtor { get; set; } = new Realtor();

    protected override async Task OnInitializedAsync()
    {
        ListOfRealtors = await Http.GetFromJsonAsync<List<Realtor>>("api/realtor");
        TestRealtor = await Http.GetFromJsonAsync<Realtor>($"api/realtor/1");
    }
}